<form id="Test">
	<div Class="row">
		<div class="span2"> 
			
		</div>
		<div class="span5">
		<div class="span5">
		<label for="BName">Name</label>
		<input type="text" Required  name="BName" Class="inputEdit"
					<%= business.BName ? "value=" + '"' + business.BName + '"' : "class='empty'" %>>
		</div>
		<div class="span5">
					<label for="BCity" class="float-left">City</label>
			<input type="text" Class="inputEdit float-left width150" name="BCity"
			
			<%= business.BCity ? "value=" + '"' + business.BCity + '"' : "class='empty'" %>>
				
				</div>
				<div class="span5">
					<label>State</label>
			<input type="text" Class="inputEdit float-left width50" name="BState" 
					<%= business.BState ? "value=" + '"' + business.BState + '"' : "class='empty'" %>>
				</div>
				
				<div class="span5">
					<label>Address</label>
			<input type="text" Class="inputEdit" name="BAddress" 
					<%= business.BAddress ? "value=" + '"' + business.BAddress + '"' : "class='empty'" %>>
				</div>
				
				<div class="span5">
					<label>Zip</label>
			<input type="text" Class="inputEdit float-left width50" name="BZip" 
					<%= business.BZip ? "value=" + '"' + business.BZip + '"' : "class='empty'" %>>
				</div>
				
				
				<div class="span5"> 
			<label>Phone</label>
			<input type="text" Number Class="inputEdit width100" name="BPhone1" 
					<%= business.BPhone1 ? "value=" + '"' + business.BPhone1 + '"' : "class='empty'" %>>
			
				</div>
				
				<div class="span5">
			<label>Phone2</label>
			<input type="text" Class="inputEdit width100" name="BPhone2" 
					<%= business.BPhone2 ? "value=" + '"' + business.BPhone2 + '"' : "class='empty'" %>>
				</div>
				<div class="span5">
			<label>Fax</label>
			<input type="text" Class="inputEdit width100" name="BFax1" 
					<%= business.BFax1 ? "value=" + '"' + business.BFax1 + '"' : "class='empty'" %>>
				</div>
				
				
			<input class="hidden" Class="inputEdit" type="text" name="BBusId"
				<%="value=" + business.BBusId%>>
			
		</div>
	</div>
	<div id="businessButtonBar" class="center margin-bottom-10">
	<button id=<%=business.BBusId%> class="updateBusinessButton">Update</button>
	<button id=<%=business.BBusId%> class="deleteBusinessButton">Delete</button>
	</div>
</form>