<form>
	<div class="row">
		<div class="span2">
			<div class="iconImage"></div> 
		</div>
		<div class="contactSize">
		
			<div class="span4">
			<label>Last Name</label>
			<input type="text" Required  name="CLastName" class="inputEdit" placeholder="Last Name" value="<%= contact.CLastName%>">
			</div>
		
			<div class="span4">
			<label>First Name</label>
			<input type="text" Required  class="inputEdit" name="CFirstName" value="<%= contact.CFirstName%>">
			</div>
				
			<div class="span4">
			<label>Position</label>
			<input type="text" class="inputEdit" name="CPosition" value="<%= contact.CPosition%>">
			</div>
				
			
			<div class="span4">			
			<label>Phone</label>
			
			<input type="text" Class="inputEdit width100" name="CPhone1" 
				<%= contact.CPhone1 ? "value=" + contact.CPhone1  : "class='empty'" %>>
				
			<select name = "CPhone1Fax" class="width75 float-left margin-left10"> 
					<option value="" <% if (contact.CPhone1Fax == '') { %>selected<% } %> ></option>
					<option value="n" <% if (contact.CPhone1Fax == 'n') { %>selected<% } %> >Phone</option>
					<option value="y" <% if (contact.CPhone1Fax == 'y') { %>selected<% } %> >Fax</option>
				</select>
				<Label class="width25">Ext</label>
			<input name="CPhone1Ext" class="float-left width50 phoneExt" value="<%= contact.CPhone1Ext%>">
			</div>
			
					
			<div class="span4">	
			<label>Email</label>
			<input type="email" class="inputEdit" name="CEmail" 
				value="<%= contact.CEmail%>">
			</div>
			
			<div class="span4">
			<label>Phone2</label>
			<input type="text" Class="inputEdit width100" name="CPhone2" 
				<%= contact.CPhone2 ? "value=" + contact.CPhone2  : "class='empty'" %>>
				
				
			
				<select name = "CPhone2Fax" class="width75 float-left margin-left10"> 
					<option value="" <% if (contact.CPhone2Fax == '') { %>selected<% } %> ></option>
					<option value="n" <% if (contact.CPhone2Fax == 'n') { %>selected<% } %> >Phone</option>
					<option value="y" <% if (contact.CPhone2Fax == 'y') { %>selected<% } %> >Fax</option>
				</select>
				
				<Label class="width25">Ext</label>
			<input name="CPhone2Ext" class="float-left width50 phoneExt" value="<%= contact.CPhone2Ext%>">
				
			
				
		    <div class="hidden">		
			<input class="hidden" type="text" name="CConId" 
			value="<%= contact.CConId%>">
			
			<input class="hidden" class="inputEdit" type="text" name="CBusId"
				value="<%= contact.CBusId%>">
			
		</div>
	</div>
		<div id="contactButtonBar" class="center margin-bottom-10"> 
	<button id=<%=contact.CConId%> class="updateContactButton">Update</button>
	<button id=<%=contact.CConId%> class="deleteContactButton">Delete</button>
	</div>
</form>
