<a href="javascript://" class="remove"><i class="icon-remove"></i></a>
<form>
	<div class="row">
		<div class="span2">
			<img src="img/contact.png" width="100" height="100">
		</div>
		<div class="span3">
			<input type="text" name="CLastName" placeholder="Last Name" 
				<%= "value=" + contact.CLastName%>>
		</div>
		<div class="span3">
	
				<label>First Name</label>
			<input type="text" name="CFirstName" 
				<%="value=" + contact.CFirstName%>>
				<label>Position</label>
			<input type="text" name="CPosition" 
				<%="value=" + contact.CPosition%>>
			<label>Phone</label>
			<input type="text" name="CPhone1" 
				<%="value=" + contact.CPhone1%>>
			<label>Email</label>
			<input type="text" name="CEmail" 
				<%="value=" + contact.CEmail%>>
			<label>Phone2</label>
			<input type="text" name="CPhone2" 
				<%="value=" + contact.CPhone2%>>
				<label>Phone1 Fax</label>
			<input type = "text" name = "CPhone1Fax"
				<%="value=" + contact.CPhone1Fax%>>
				<label>Phone2 Fax</label> 
			<input type = "text" name = "CPhone2Fax"
				<%="value=" + contact.CPhone2Fax%>>
					<input class="hidden" type="text" name="CConId" 
				<%="value=" + contact.CConId%>>
			<input class="hidden" type="text" name="CBusId"
				<%="value=" + contact.CBusId%>>
			
		</div>
	</div>
</form>