<ul class="nav nav-list">
	<li class="nav-header">Business</li> 
	<% $.each(categories, function(i, category){ %> 
		<li class="businessHeader">
		<a href="javascript://" data-category="<%= category.BBusId %>">
			Name: <%= category.BName %>
			</a>
			<a href="javascript://" data-category="<%= category.BBusId %>">
			Phone1: <%= category.BDPhone1 %> 
			</a>
			<a href="javascript://" data-category="<%= category.BBusId %>">
			Email: <%= category.BEmail %>
			</a>
		</li>
		<div id="menu-container" class="span5"></div>
		<div class="expander businessExpand"></div>
		<li class="business">
		<%== can.view.render('views/businessView.ejs', {business: category}) %>
		</li>
		</div>
	<% }) %>
</ul>