<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
    <div class="WordSection1">
        <p class="MsoNormal" style='text-align: center'><span style=
        'font-size:10.5pt;font-family:"Courier New";mso-no-proof:yes'>
        <!--[if gte vml 1]><v:shapetype
 id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
 path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="Picture_x0020_1" o:spid="_x0000_i1025" type="#_x0000_t75"
 style='width:234pt;height:69pt;visibility:visible;fmso-wrap-style:square'>

</v:shape><![endif]--><![if !vml]> <img height="92" src="http://localhost/contactsmanager/img/image001.jpg"
        width="312"><![endif]></span><span style=
        'font-size:10.5pt;font-family:"Courier New"'></span></p>

        <p class="MsoNormal" style='text-align: center'><span style=
        'font-size:10.5pt;font-family:"Courier New"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; mso-bidi-font-weight: normal; text-align: center'>
        <span style=
        'font-size:10.5pt;font-family:"Times New Roman","serif"; color:#4F81BD;mso-themecolor:accent1'>
        905 E. Arlington Blvd, Suite A</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; mso-bidi-font-weight: normal; text-align: center'>
        <span style=
        'font-size:10.5pt;font-family:"Times New Roman","serif"; color:#4F81BD;mso-themecolor:accent1'>
        Greenville, NC 27858</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; mso-bidi-font-weight: normal; text-align: center'>
        <span style=
        'font-size:10.5pt;font-family:"Times New Roman","serif"; color:#4F81BD;mso-themecolor:accent1'>
        252-355-4166 Fax: 252-355-3589</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; mso-bidi-font-weight: normal; text-align: center'>
        <span style=
        'font-size:10.5pt;font-family:"Times New Roman","serif"; color:#4F81BD;mso-themecolor:accent1'>
        1-800-850-4766</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; mso-bidi-font-weight: normal; text-align: center'>
        <span style=
        'font-size:10.5pt;font-family:"Times New Roman","serif"; color:#4F81BD;mso-themecolor:accent1'>
        &nbsp;</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 67.5pt 121.5pt; text-autospace: none'>
        <span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 76.5pt 135.0pt; text-align: center; text-autospace: none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>FAX COVER
        SHEET</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 76.5pt 135.0pt; text-align: center; text-autospace: none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 76.5pt 135.0pt; text-align: center; text-autospace: none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 76.5pt 135.0pt; text-autospace: none'>
        <span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'>Date: <%=Date()%>	</span></p>

        <p style="font-weight: bold"><span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'>Pages:<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 76.5pt 135.0pt; text-autospace: none'>
        <span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 76.5pt 135.0pt; text-autospace: none'>
        <span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'>To:<span style='mso-tab-count:1'></span></span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 76.5pt 135.0pt; text-autospace: none'>
        <span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 76.5pt 135.0pt; text-autospace: none'>
        <span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'><%=data.BName %><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 76.5pt 135.0pt; text-autospace: none'>
        <span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 76.5pt 135.0pt; text-autospace: none'>
        <span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'>Fax
        Number:<span style='mso-tab-count: 1'>&nbsp;&nbsp;</span>
        <%=data.BFax1 %></span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 76.5pt 135.0pt; text-autospace: none'>
        <span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 76.5pt 135.0pt; text-autospace: none'>
        <span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'>From:
        <span style=
        'mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        Carolina Benefit Specialists, Inc.</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 76.5pt 135.0pt; text-autospace: none'>
        <span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 76.5pt 135.0pt; text-autospace: none'>
        <span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'>Ref:<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <%=data.BName %></span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 76.5pt 135.0pt; text-autospace: none'>
        <span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'><span style=
        'mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style='mso-spacerun:yes'>&nbsp;</span><span class=
        "GramE">3B-HEALTH_GROUP_# <%=data.BBusid %></span></span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 76.5pt 135.0pt; text-autospace: none'>
        <span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'><span style=
        'mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; tab-stops: 67.5pt 121.5pt; text-autospace: none'>
        <span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'>Subject:<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></p>
    </div>
</body>
</html>