<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
    <div class="WordSection1">
        <p class="MsoNormal" style='text-align: center'><span style=
        'font-size:10.5pt;font-family:"Courier New";mso-no-proof:yes'>
        <!--[if gte vml 1]><v:shapetype
 id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
 path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="Picture_x0020_1" o:spid="_x0000_i1025" type="#_x0000_t75"
 style='width:234pt;height:69pt;visibility:visible;mso-wrap-style:square'>
 <v:imagedata src="New%20Blue%20Renewal_files/image001.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><img height="92" src=
"New%20Blue%20Renewal_files/image002.jpg" width=
"312"><![endif]></span><span style=
'font-size:10.5pt;font-family:"Courier New"'></span></p>

        <p class="MsoNormal" style='text-align: center'><span style=
        'font-size:10.5pt;font-family:"Courier New"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; mso-bidi-font-weight: normal; text-align: center'>
        <span style=
        'font-size:10.5pt;font-family:"Times New Roman","serif"; color:#4F81BD;mso-themecolor:accent1'>
        905 E. Arlington Blvd, Suite A</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; mso-bidi-font-weight: normal; text-align: center'>
        <span style=
        'font-size:10.5pt;font-family:"Times New Roman","serif"; color:#4F81BD;mso-themecolor:accent1'>
        Greenville, NC 27858</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; mso-bidi-font-weight: normal; text-align: center'>
        <span style=
        'font-size:10.5pt;font-family:"Times New Roman","serif"; color:#4F81BD;mso-themecolor:accent1'>
        252-355-4166 Fax: 252-355-3589</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; mso-bidi-font-weight: normal; text-align: center'>
        <span style=
        'font-size:10.5pt;font-family:"Times New Roman","serif"; color:#4F81BD;mso-themecolor:accent1'>
        1-800-850-4766</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; mso-bidi-font-weight: normal; text-align: center'>
        <span style=
        'font-size:10.5pt;font-family:"Times New Roman","serif"; color:#4F81BD;mso-themecolor:accent1'>
        &nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span class="GramE"><span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'>{Today's
        Date?}</span></span><span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'></span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'><span style=
        'mso-spacerun:yes'>&nbsp;</span><span class=
        "GramE"><%=data.BName %></span></span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'><span style=
        'mso-spacerun:yes'>&nbsp;</span><%=data.BAddress %></span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'><span style=
        'mso-spacerun:yes'>&nbsp;</span><span class="GramE"><%=data.BCity %>,
        <%=data.BState %></span> <span class=
        "GramE"><%=data.BZip %><span class="SpellE"></span>?}</span></span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>Re:<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <%=data.BName %></span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'><span style=
        'mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style='mso-spacerun:yes'>&nbsp;</span><span class=
        "GramE">3B-HEALTH_GROUP_#<%=data.BBusId %></span></span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'><span style=
        'mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        Renewal Notice</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'>On behalf of Blue
        Cross Blue Shield of North Carolina, we would like to thank you for
        your membership in North Carolina's leading health insurance
        company.<span style='mso-spacerun:yes'>&nbsp;</span> We greatly
        appreciate the opportunity to provide health care coverage for your
        employees and their families.</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'>Your renewal is
        approaching soon and your rates have been recalculated for next
        year.<span style='mso-spacerun:yes'>&nbsp;</span> The following
        components were used by Blue Cross Blue Shield to calculate your rates
        for the renewal date of {3D-HEALTH_RENEWAL_DATE?}.</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'><span style=
        'mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        *<span style=
        'mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        Employee age and sex</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'><span style=
        'mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        *<span style=
        'mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        Trend (Medical Inflation)</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'><span style=
        'mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        *<span style=
        'mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        Location of your group</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'><span style=
        'mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        *<span style=
        'mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        Risk Pool</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'><span style=
        'mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        *<span style=
        'mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        Change in size of your group</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>Also included
        in this packet are alternate benefit options for your
        consideration.<span style='mso-spacerun:yes'>&nbsp;</span> These
        options may reduce the total cost of your program while rounding out
        your overall benefits and continuing to provide the quality that you
        and your employees have been accustomed.</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>&quot;In a
        continuing effort to offer quality, cost effective health care
        coverage, we are making changes to your health benefit plan (as well as
        the alternates in your renewal package), including adding a feature to
        your prescription drug plan to encourage use of generic drugs, when
        available.<span style='mso-spacerun:yes'>&nbsp;</span> Please review
        the attachment to this letter entitled, 'Uniform Benefit Changes' for
        additional information.&quot;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'>In order for Blue
        Cross to efficiently process your group, we request that you advise us
        of your renewal decision by <span class="GramE">November<span style=
        'mso-spacerun:yes'>&nbsp;</span> 7</span>, 2014.<span style=
        'mso-spacerun:yes'>&nbsp;</span> If we do not notify Blue Cross of your
        renewal notice by November 10, 2014, Blue Cross Blue Shield will
        automatically renew your group on the New Blue plan that is most
        similar to your current plan.</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'>Again, thank you
        for trusting Blue Cross Blue Shield of North Carolina to provide health
        care coverage to your employees and their families.<span style=
        'mso-spacerun:yes'>&nbsp;</span> It has been our pleasure serving you
        and we look forward to continuing to serve you.<span style=
        'mso-spacerun:yes'>&nbsp;</span> If you have any questions about your
        renewal or need assistance, please contact me at
        1-800-850-4766.</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-family:"Times New Roman","serif"'>Sincerely,</span></p>

        <p class="MsoNormal"><span style=
        'font-family:"Times New Roman","serif"'>Carolina Benefit Specialists,
        Inc.</span><b style='mso-bidi-font-weight:normal'><span style=
        'font-size:10.5pt;font-family:"Times New Roman","serif";color:#4F81BD; mso-themecolor:accent1'></span></b></p>
    </div>
</body>
</html>