<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
    <div class="WordSection1">
        <p class="MsoNormal" style='text-align: center'><span style=
        'font-size:10.5pt;font-family:"Courier New";mso-no-proof:yes'>
        <!--[if gte vml 1]><v:shapetype
 id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
 path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="Picture_x0020_1" o:spid="_x0000_i1025" type="#_x0000_t75"
 style='width:234pt;height:69pt;visibility:visible;mso-wrap-style:square'>
 <v:imagedata src="http://localhost/contactsmanager/img/image002.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><img height="92" src=
"http://localhost/contactsmanager/img/image002.jpg" width=
"312"><![endif]></span><span style=
'font-size:10.5pt;font-family:"Courier New"'></span></p>

        <p class="MsoNormal" style='text-align: center'><span style=
        'font-size:10.5pt;font-family:"Courier New"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; mso-bidi-font-weight: normal; text-align: center'>
        <span style=
        'font-size:10.5pt;font-family:"Times New Roman","serif"; color:#4F81BD;mso-themecolor:accent1'>
        905 E. Arlington Blvd, Suite A</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; mso-bidi-font-weight: normal; text-align: center'>
        <span style=
        'font-size:10.5pt;font-family:"Times New Roman","serif"; color:#4F81BD;mso-themecolor:accent1'>
        Greenville, NC 27858</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; mso-bidi-font-weight: normal; text-align: center'>
        <span style=
        'font-size:10.5pt;font-family:"Times New Roman","serif"; color:#4F81BD;mso-themecolor:accent1'>
        252-355-4166 Fax: 252-355-3589</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; mso-bidi-font-weight: normal; text-align: center'>
        <span style=
        'font-size:10.5pt;font-family:"Times New Roman","serif"; color:#4F81BD;mso-themecolor:accent1'>
        1-800-850-4766</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span class="GramE"><span style=
        'font-size:12.0pt; font-family:"Times New Roman","serif"'><%=Date()%></span></span><span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'></span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'><span style=
        'mso-spacerun:yes'>&nbsp;</span><span class=
        "GramE"><%=data.BName %></span></span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'><span style=
        'mso-spacerun:yes'>&nbsp;</span><%=data.BAddress %></span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'><span style=
        'mso-spacerun:yes'>&nbsp;</span><span class="GramE"><%=data.BCity %>,
        <%=data.BState %></span> <span class=
        "GramE"><%=data.BZip %><span class="SpellE"></span>?}</span></span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>Re:<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <%=data.BName %></span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'><span style=
        'mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style='mso-spacerun:yes'>&nbsp;</span><span class=
        "GramE">3B-HEALTH_GROUP_#<%=data.BBusId %></span></span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'><span style=
        'mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        Renewal Notice</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'>On behalf of Blue
        Cross Blue Shield of North Carolina, we would like to thank you for
        your membership in North Carolina's leading health insurance
        company.<span style='mso-spacerun:yes'>&nbsp;</span> We greatly
        appreciate the opportunity to provide health care coverage for your
        employees and their families.</span> <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>Your group
        health plan renewal date is approaching, and Blue Cross Blue Shield of
        North Carolina has calculated your monthly rates for the next year,
        based on a renewal date of January 1, 2014.</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>Premiums are
        determined by the level of coverage provided by your benefit plan,
        annual increases in the cost of medical services and medications,
        requirements of the Affordable Care Act (ACA) including required
        benefits, <span class="GramE">rating</span> methodologies and certain
        taxes and fees, your business’s geographic location and the ages and
        family composition of your plan participants.</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; text-autospace: none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; text-autospace: none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>Your Enclosed
        Target Renewal Quote</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; text-autospace: none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>BCBSNC is
        providing a renewal quote for a health benefit plan that complies with
        all provisions of the ACA effective in 2014. (This is referred to as
        your &quot;target renewal.&quot;) The health benefit plan included in
        this renewal quote may vary greatly from your current group health
        plan. For more about this, please see the &quot;Small Group (1-50)
        Employer Health Plans in 2014: Questions and Answers for
        Employers&quot; section included with this renewal quote.</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; text-autospace: none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; text-autospace: none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>Please Respond
        Within 21 Calendar Days of Your Renewal Date</span></p>

        <p class="MsoNormal" style=
        'font-weight: bold; line-height: 12.0pt; mso-layout-grid-align: none; text-autospace: none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-size:12.0pt;font-family:"Times New Roman","serif"'>In
        order for BCBSNC to provide your health plan participants with their
        new BCBSNC ID cards prior to their health plan renewal date, please
        advise us of your renewal decision on or prior to 21 calendar days of
        your group renewal date. If we do not receive notice <b>on or prior to
        21 days</b> of your renewal date, Blue Cross Blue <span class=
        "GramE">Shield<span style='mso-spacerun:yes'>&nbsp;</span> will</span>
        automatically renew your group on the target renewal option.</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-size:12.0pt;font-family:"Times New Roman","serif"'>Again, thank
        you for trusting Blue Cross Blue Shield of North Carolina to provide
        health care coverage to your employees and their families.<span style=
        'mso-spacerun:yes'>&nbsp;</span> It has been our pleasure serving you
        and we look forward to continuing to serve you.<span style=
        'mso-spacerun:yes'>&nbsp;</span> If you have any questions about your
        renewal or need assistance, please contact us at
        1-800-850-4766.</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style='font-family:"Times New Roman","serif"'>&nbsp;</span></p>

        <p class="MsoNormal" style=
        'line-height:12.0pt;mso-layout-grid-align:none; text-autospace:none'>
        <span style=
        'font-family:"Times New Roman","serif"'>Sincerely,</span></p>

        <p class="MsoNormal"><span style=
        'font-family:"Times New Roman","serif"'>Carolina Benefit Specialists,
        Inc.</span><b style='mso-bidi-font-weight:normal'><span style=
        'font-size:10.5pt;font-family:"Times New Roman","serif";color:#4F81BD; mso-themecolor:accent1'></span></b></p>
    </div>
</body>
</html>