<div class=WordSection1>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:10.5pt;font-family:"Courier New";mso-no-proof:yes'><!--[if gte vml 1]><v:shapetype
 id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
 path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="Picture_x0020_1" o:spid="_x0000_i1025" type="#_x0000_t75"
 style='width:234pt;height:69pt;visibility:visible;mso-wrap-style:square'>
 <v:imagedata src="Optometric%20Renewal%20Letter_files/image001.jpg" o:title=""/>
</v:shape><![endif]--><![if !vml]><img width=312 height=92
src="Optometric%20Renewal%20Letter_files/image002.jpg" v:shapes="Picture_x0020_1"><![endif]></span><span
style='font-size:10.5pt;font-family:"Courier New"'><o:p></o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:10.5pt;font-family:"Courier New"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
normal'><span style='font-size:10.5pt;font-family:"Times New Roman","serif";
color:#4F81BD;mso-themecolor:accent1'>905 E. Arlington Blvd, Suite A<o:p></o:p></span></b></p>

<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
normal'><span style='font-size:10.5pt;font-family:"Times New Roman","serif";
color:#4F81BD;mso-themecolor:accent1'>Greenville, NC 27858<o:p></o:p></span></b></p>

<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
normal'><span style='font-size:10.5pt;font-family:"Times New Roman","serif";
color:#4F81BD;mso-themecolor:accent1'>252-355-4166 Fax: 252-355-3589<o:p></o:p></span></b></p>

<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
normal'><span style='font-size:10.5pt;font-family:"Times New Roman","serif";
color:#4F81BD;mso-themecolor:accent1'>1-800-850-4766<o:p></o:p></span></b></p>

<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
normal'><span style='font-size:10.5pt;font-family:"Times New Roman","serif";
color:#4F81BD;mso-themecolor:accent1'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span class=GramE><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>{Today's Date?}</span></span><span
style='font-size:12.0pt;font-family:"Times New Roman","serif"'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:12.0pt;font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:12.0pt;font-family:"Times New Roman","serif"'><span
style='mso-spacerun:yes'> </span><span class=GramE><%=data.BName %></span><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:12.0pt;font-family:"Times New Roman","serif"'><span
style='mso-spacerun:yes'> </span><%=data.BAddress %><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:12.0pt;font-family:"Times New Roman","serif"'><span
style='mso-spacerun:yes'> </span><span class=GramE><%=data.BCity %>, <%=data.BState %></span>
<span class=GramE><%=data.BZip %><span class=SpellE></span>?}</span><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:12.0pt;font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:12.0pt;font-family:"Times New Roman","serif"'>Re:<span
style='mso-tab-count:1'>       </span> <%=data.BName %><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:12.0pt;font-family:"Times New Roman","serif"'><span
style='mso-tab-count:1'>            </span><span
style='mso-spacerun:yes'> </span><span class=GramE>3B-HEALTH_GROUP_#<%=data.BBusId %></span><o:p></o:p></span></p>


<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:12.0pt;font-family:"Times New Roman","serif"'><span
style='mso-tab-count:1'>            </span>Renewal Notice<o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:12.0pt;font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-family:"Times New Roman","serif"'>On
behalf of Blue Cross Blue Shield of North Carolina, we would like to thank you
for your membership in North Carolina's leading health insurance company.<span
style='mso-spacerun:yes'>  </span>We greatly appreciate the opportunity to
provide health care coverage for your employees and their families.<o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-family:"Times New Roman","serif"'>Your
renewal is approaching soon and your rates have been recalculated for next
year.<span style='mso-spacerun:yes'>  </span>The following components were used
by Blue Cross Blue Shield to calculate your rates for the renewal date <span
class=GramE>of<span style='mso-spacerun:yes'>  </span>September</span> 1,
2014..<o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-family:"Times New Roman","serif"'><span
style='mso-tab-count:1'>            </span>*<span style='mso-tab-count:1'>          </span>Employee
age and sex<o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-family:"Times New Roman","serif"'><span
style='mso-tab-count:1'>            </span>*<span style='mso-tab-count:1'>          </span>Trend
(Medical Inflation)<o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-family:"Times New Roman","serif"'><span
style='mso-tab-count:1'>            </span>*<span style='mso-tab-count:1'>          </span>Location
of your group<o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-family:"Times New Roman","serif"'><span
style='mso-tab-count:1'>            </span>*<span style='mso-tab-count:1'>          </span>Risk
Pool<o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-family:"Times New Roman","serif"'><span
style='mso-tab-count:1'>            </span>*<span style='mso-tab-count:1'>          </span>Change
in size of your group<o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-size:12.0pt;font-family:"Times New Roman","serif"'>Also
included in this packet are Affordable Care Act options (ACA<span class=GramE>)<span
style='mso-spacerun:yes'>  </span>for</span> your consideration.<span
style='mso-spacerun:yes'>  </span>These options may reduce the total cost of
your program while rounding out your overall benefits and continuing to provide
the quality that you and your employees have been accustomed. You will also
find <span class=SpellE>indiviual</span> rates in <o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span class=GramE><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>your</span></span><span
style='font-size:12.0pt;font-family:"Times New Roman","serif"'> packet, PLEASE
NOTE: <span class=SpellE>indiviual</span> rates are based on <span
class=SpellE>calender</span> year and these <o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span class=GramE><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>rates</span></span><span
style='font-size:12.0pt;font-family:"Times New Roman","serif"'> are good
through 12/31/2014. The <span class=SpellE>indiviual</span> rates are subject
to increase for January 2015. We will not know how much until sometime in the
future.<o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-family:"Times New Roman","serif"'>In
order for Blue Cross to efficiently process your group, we request that you
advise us of your renewal decision by August 8, 2014.<span
style='mso-spacerun:yes'>  </span>If we do not notify Blue Cross of your
renewal notice by August 11, 2014, Blue Cross Blue Shield will automatically
renew your group on the New Blue plan that is most similar to your current
plan.<o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-family:"Times New Roman","serif"'>Again,
thank you for trusting Blue Cross Blue Shield of North Carolina to provided
health care coverage to your employees and their families.<span
style='mso-spacerun:yes'>  </span>It has been our pleasure serving you and we
look forward to continuing to serve you.<span style='mso-spacerun:yes'> 
</span>If you have any questions about your renewal or need assistance, please
contact Rosemary Boykin or Phil Lewis at (252) 355-4166.<o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-family:"Times New Roman","serif"'>Sincerely,<o:p></o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-layout-grid-align:none;
text-autospace:none'><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:12.0pt;tab-stops:67.5pt 121.5pt;
mso-layout-grid-align:none;text-autospace:none'><span style='font-family:"Times New Roman","serif"'>Carolina
Benefit Specialists, Inc.</span><b><span style='font-size:12.0pt;font-family:
"Times New Roman","serif"'><o:p></o:p></span></b></p>

</div>
