<form>
        <div class="row">
            <div class="span1">
                <label>User Field</label>
				<label>Value</label>
            </div>

            <div class="span3"> 
			
            <%== can.view.render('views/userFieldDrop.ejs', {user: user, userFields: userFields}) %> 
				
                <input class="inputEdit" name="UField" required type="text"
				<%= user.UField ? "value=" + '"' + user.UField + '"' : "class='empty'" %>>
				
            </div>

            <div id="userButtonBar" class="span1">
                <button class="deleteUserButton" id="<%=user.UUsrId%>">Delete</button> 
				<button class="updateUserButton" id="<%=user.UUsrId%>">Update</button>
            </div>
			
            <div class="hidden">
                 <input class="inputEdit" name="UUsrId" type="text"
				<%= user.UUsrId ? "value=" + '"' + user.UUsrId + '"' : "class='empty'" %>>
				  <input class="inputEdit" name="UBusId" type="text"
				<%= user.UBusId ?  "value=" + '"' + user.UBusId + '"' : "class='empty'" %>>
				  <input class="inputEdit" name="UConId" type="text"
				<%= user.UConId ?  "value=" + '"' + user.UConId + '"' : "class='empty'" %>>
				 <input class="inputEdit" name="UType" type="text"
				<%= user.UType ? "value=" + '"' + user.UType + '"' : "class='empty'" %>>
				 <input class="inputEdit" name="UItem" type="text"
				<%= user.UItem ? "value=" + '"' + user.UItem + '"' : "class='empty'" %>>
            </div>
        </div>
    </form>
