<form>

	<div class="userLogo"></div>
	<div Class="row">
		
		<span class="span6">
			<label>User Field</label>
			<input class="width300" type="text" required name="UField" Class="inputEdit" 
				<%= "value=" + user.UField%>> 
		</span>
		<span class="span6">
			<label>Value</label>
			<input  class="width300" type="text" required Class="inputEdit" name="UItem" 
				<%="value=" + user.UItem%>>
		</span>	
	
			<input type="hidden" required Class="inputEdit" name="UType" 
				<%="value=" + user.UType%>>
				<input type="hidden" name="UBusId" Class="inputEdit" placeHolder="Name" 
				<%= "value=" + user.UBusId%>>
				<input type="hidden" name="UConId" Class="inputEdit" placeHolder="Name" 
				<%= "value=" + user.UConId%>>
				<input type="hidden" name="UUsrId" Class="inputEdit" placeHolder="Name" 
				<%= "value=" + user.UUsrId%>>
				
		</div>
	</div>
	<div id="userButtonBar" class="center margin-bottom-10"> 
	<button id=<%=user.UUsrId%> class="updateUserButton">Update</button>
	<button id=<%=user.UUsrId%> class="deleteUserButton">Delete</button>
	</div>
</form>