<a href="javascript://" class="userRemove"><i Class="icon-remove"></i></a>
<form>
	<div Class="row">
		<div Class="span2">
			<img src="img/User.png" width="100" height="100">
		</div>
	
		<div class="span3">
		<label>User Field</label>
		<input type="text" name="UField" Class="inputEdit" 
				<%= "value=" + user.UField%>>
					<label>Item</label>
			<input type="text" Class="inputEdit" name="UItem" 
				<%="value=" + user.UItem%>>
					<label>Type</label>
			<input type="text" Class="inputEdit" name="UType" 
				<%="value=" + user.UType%>>
				<input type="text" name="UBusId" Class="inputEdit" placeHolder="Name" 
				<%= "value=" + user.UBusId%>>
				<input type="text" name="UConId" Class="inputEdit" placeHolder="Name" 
				<%= "value=" + user.UConId%>>
				<input type="text" name="UUsrId" Class="inputEdit" placeHolder="Name" 
				<%= "value=" + user.UUsrId%>>
				
		</div>
	</div>
</form>